/* row > flex-start > */
.flex-rnss{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.flex-rnsc{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}
.flex-rnse{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

/* column > flex-start > */
.flex-cnss{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.flex-cnsc{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}
.flex-cnse{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}

/* row > center > */
.flex-rncc{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.flex-rncs{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
}
.flex-rnce{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
}

/* column > center > */
.flex-cncc{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.flex-cncs{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}
.flex-cnce{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-end;
}

/* row > flex-end > */
.flex-rnec{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
.flex-rnee{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}
.flex-rnes{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-start;
}

/* column > flex-end > */
.flex-cnec{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
}
.flex-cnee{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-end;
}
.flex-cnes{
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-start;
}

/* row > space-between > */
.flex-rnbs{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.flex-rnbc{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.flex-rnbe{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

/* column > space-between > */
.flex-cnbs{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.flex-cnbc{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}
.flex-cnbe{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

/* row wrap > between */
.flex-rwbc{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

/* row wrap > space > center */
.flex-rwsc{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}